<div class="bg-sky-600 text-white py-10">
  <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10">
    <div>
      <h4 class="text-xl font-bold mb-4">المركز</h4>
      <p class="text-sm"></p>
      <p class="text-sm">
        الهاتف: <a href="tel:+96265523333" class="underline">00962795650305</a>
      </p>
      <div class="flex gap-4 mt-4">
        <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div>
      <h4 class="text-xl font-bold mb-4">ساعات العمل</h4>
      <p>الأحد - الثلاثاء: 9:00 صباحاً - 5:00 مساءً</p>
      <p>الخميس: 9:00 صباحاً - 3:00 مساءً</p>
    </div>
    <div>
      <h4 class="text-xl font-bold m-4">موقعنا</h4>

      <div class="m-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.2153707207744!2d35.92780967611159!3d31.95505342553667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b5f90dc951f37%3A0x76afe57da107413e!2sLuzmila%20Hospital!5e0!3m2!1sen!2sjo!4v1733925791641!5m2!1sen!2sjo"
          width="500"
          height="250"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
